<div class="register-container">
    <div class="form-holder">
        <h5 class="form-type">SIGN UP</h5>

        <h2 class="heading">Create your account</h2>
        <h5 class="f-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>

        <div class="form-container">
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="input-holder">
                    <input type="email" placeholder="Email Address" formControlName="email" value="" />
                </div>
                <span *ngIf="!formSubmitted && signupForm.controls.email.errors && signupForm.controls.email.errors.required" class="error">Email cannot be empty</span>
                <div class="input-holder">
                    <input type="password" placeholder="Password" formControlName="password" value="" />
                </div>
                <span *ngIf="!formSubmitted && signupForm.controls.password.errors && signupForm.controls.password.errors.required" class="error">Password cannot be empty</span>
                <p>Already a user? <a routerLink="/login">Log in</a></p>
                <div class="input-holder">
                    <button type="submit" [disabled]="isSubmitBtnDisabled">{{submitBtnText}}</button>
                </div>
            </form>
        </div>
    </div>
</div>