.register-container{
    display: flex;
    justify-content: center;
    h5.form-type{
        margin:0px;
        text-align: center;
    }
    h2.heading{
        text-align: center;
        font-weight: 500;
        font-size: 2em;
        margin-bottom:8px;
    }
    h5.f-desc{
        text-align: center;
        font-weight: 500;
        margin-top:0px;
    }
    div.form-holder{
        width: 420px;   
        padding: 10px 45px;
        box-shadow: 0px 0px 3px 0px #ddd;
        border-radius: 2px;

        div.or-divider{
            display: flex;
            justify-content: space-between;
            margin-top:20px;
            div:first-of-type{
                width:45%;
                padding-top: 4px;
                hr{
                    border-top:0.5px solid #ddd;
                }
            }
            div:nth-child(2){
                width:10%;
                text-align: center;
            }
            div:last-of-type{
                width:45%;
                padding-top: 4px;
                hr{
                    border-top:0.5px solid #ddd;
                }
            }
        }
        div.social-btns{
            display: flex;
            justify-content: space-between;
            button:first-of-type{
                i{
                    color: #DA3D27;
                }
            }
            button, button:focus{
                background: #fff;
                border: none;
                box-shadow: 0px 0px 2px 1px #ddd;
                border-radius: 3px;
                padding: 10px 25px;
                display: flex;
                i{
                    font-size: 18px;
                }
                i{
                    color:#4267B2;
                }
                span{
                    margin-left:10px;
                }
            }
            button:focus{
                outline: none;
                background:#eee;
            }
            button:hover{
                background:#eef;
                cursor: pointer;
            }

        }

        div.form-container{
            span.error{
                color:red;
                font-size: 10px;
            }
            div.input-holder{
                margin-top: 20px;
                width:100%;
                input{
                    width: 97%;
                    height: 32px;
                    border-radius: 4px;
                    border: 1px solid #bbb;
                    padding-left: 10px;
                }
                input:focus{
                    outline:0;
                }
                button{
                    height: 32px;
                    width: 100%;
                    background: #21b5cc!important;
                    border-radius: 4px;
                    border: none;
                    color: #fff;
                    font-weight: 600;
                }
                button:focus{
                    outline:0;
                }
                button:hover{
                    cursor:pointer;
                }
            }
            p{
                font-size: 12.5px;
                a{
                    color:#2b9bad;
                }
            }
        }
    }
}